{% block header %}

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">ElderLibrary</a>
        </div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/cards/">Cards</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Decks</a>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <span class="nav-link">{{ user }}</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">
                        <span class="fa fa-sign-out"></span> Logout
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="fa fa-user-plus"></span> Sign Up
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">
                        <span class="fa fa-sign-in"></span> Login
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% endblock %}